In [3]:
import pandas as pd

In [7]:
df = pd.read_csv("StressLevelDataset.csv")

df.head()

(1100, 21)

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2,3,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2,3,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1,5,0,5,1

In [13]:
print(df.shape)
df.max()

(1100, 21)

anxiety_level                   21
self_esteem                     30
mental_health_history            1
depression                      27
headache                         5
blood_pressure                   3
sleep_quality                    5
breathing_problem                5
noise_level                      5
living_conditions                5
safety                           5
basic_needs                      5
academic_performance             5
study_load                       5
teacher_student_relationship     5
future_career_concerns           5
social_support                   3
peer_pressure                    5
extracurricular_activities       5
bullying                         5
stress_level                     2
dtype: int64

In [16]:
statistics = df.describe().transpose()[['min', 'max', 'mean']]
statistics.columns = ['Min', 'Max', 'Mean']
nan_counts = df.isna().sum()
statistics['NaN Count'] = nan_counts
statistics

                              Min   Max       Mean  NaN Count
anxiety_level                 0.0  21.0  11.063636          0
self_esteem                   0.0  30.0  17.777273          0
mental_health_history         0.0   1.0   0.492727          0
depression                    0.0  27.0  12.555455          0
headache                      0.0   5.0   2.508182          0
blood_pressure                1.0   3.0   2.181818          0
sleep_quality                 0.0   5.0   2.660000          0
breathing_problem             0.0   5.0   2.753636          0
noise_level                   0.0   5.0   2.649091          0
living_conditions             0.0   5.0   2.518182          0
safety                        0.0   5.0   2.737273          0
basic_needs                   0.0   5.0   2.772727          0
academic_performance          0.0   5.0   2.772727          0
study_load                    0.0   5.0   2.621818          0
teacher_student_relationship  0.0   5.0   2.648182          0
future_career_concerns        0.0   5.0   2.649091          0
social_support                0.0   3.0   1.881818          0
peer_pressure                 0.0   5.0   2.734545          0
extracurricular_activities    0.0   5.0   2.767273          0
bullying                      0.0   5.0   2.617273          0
stress_level                  0.0   2.0   0.996364          0